In [ ]:
### Day2

In [1]:
my_list = [11, 21, 27, 7, 2004]
# Accessing elements by index
print("List:")
print("First element:", my_list[0])
print("Third element:", my_list[2])
print("Last element:", my_list[-1])

# Creating a tuple with 5 elements
my_tuple = (110, 210, 270, 700, 00)
# Accessing elements by index
print("\nTuple:")
print("Second element:", my_tuple[1])
print("Fourth element:", my_tuple[3])
print("Second last element:", my_tuple[-2])
# Creating a dictionary with 5 elements
my_dict = {"name": "Yashwanth","age": 20,"city": "Hyderbad","occupation": "Engineer","country": "India"}
# Accessing elements by key
print("\nDictionary:")
print("Name:", my_dict["name"])
print("Age:", my_dict["age"])
print("City:", my_dict.get("city"))

#Slicing the list to access multiple elements
print("\nSlicing the list:")
print(my_list[1:4])
print(my_list[:3])
print(my_list[2:])

#Slicing the tuple
print("\nSlicing the tuple:")
print(my_tuple[0:2])
print(my_tuple[2:])

List:
First element: 11
Third element: 27
Last element: 2004

Tuple:
Second element: 210
Fourth element: 700
Second last element: 700

Dictionary:
Name: Yashwanth
Age: 20
City: Hyderbad

Slicing the list:
[21, 27, 7]
[11, 21, 27]
[27, 7, 2004]

Slicing the tuple:
(110, 210)
(270, 700, 0)